doctype html
html
  head
    meta(charset="utf-8")
    title React SSR Demo
  body
    #root
    script(src=assets['manifest.js'])
    script(src=assets['vendor.js'])
    script(src=assets['main.js'])
